# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Fonts
/fonts/

# Vendor directories
/vendor/

# Project-specific files or directories to ignore
/assets/
/css/
/images/
/js/


git remote add gitlab https://gitlab.com/your-username/your-repo.git
